body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 8rem;
  padding-left: 1rem;
}
.aboutpage div {
    padding-bottom: 1em;
}
.question .buttons {
    background-color: #8a2be245;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.question,.tags {
    background-color: lightblue !important;
}
.question,.tags .btn {
   text-align:left !important;
}
.question .buttons button {  }

.question .answer span {
    font-size: 1.3em;
}

.container {
    max-width: none !important;
}

iframe {
    width: 100%;
}
.footer {
    background-color: lightgrey;
}

.question .card-title {
    color: blue;
    background-color: lightblue;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1rem;
    sborder: 1px solid black;
}

.warning-message {
  color: red;
  font-size: 1.5em;   
}

.navbar .nav-item {
    font-size: 1.5em;
}

.question .buttons .btn {
    margin-top: 0.2em;
}

pre {
    white-space: pre-wrap;
    font-family: sans-serif;
}
pre.mnemonic {
    color :  red;
    font-size: 1.3em;

}
