body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 8rem;
  padding-left: 1rem;
}
.aboutpage div {
    padding-bottom: 1em;
}
.spage-title {
    float:'right';
    color:'yellow';
    font-size:'1.2em';
    position: 'fixed';
    right: '1em';
    z-index: 99;
    background-color: lightgrey;
    opacity: 0.6;
}
.questionwrap .question {
    margin-top:4em;
    
}
.questionwrap .blocked-tags {
margin-top:4em;
}
.holds-the-iframe {
  background:url(/loading.gif) center center no-repeat;
  min-height: 3em;
}
.scrollbuttons {
    border-top: 6px solid lightsteelblue;
}
.questionwrap .buttons {
    background-color: plum;
    dpadding-top: 0.5em;
    dpadding-bottom: 0.5em;
    margin-top:-4.2em;
    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 1;
}
.question,.tags {
    background-color: lightblue !important;
}
.question,.tags .btn {
   text-align:left !important;
}
.question .buttons button {  }

.question .answer span {
    font-size: 1.3em;
}

.container {
    max-width: none !important;
}

iframe {
    width: 100%;
}
.footer {
    background-color: lightgrey;
}

.question .card-title {
    color: blue;
    background-color: lightblue;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1rem;
    sborder: 1px solid black;
}

.warning-message {
  color: red;
  font-size: 1.5em;   
}

.navbar .nav-item {
    font-size: 1.5em;
}

.question .buttons .btn {
    margin-top: 0.2em;
}

pre {
    white-space: pre-wrap;
    font-family: sans-serif;
}
pre.mnemonic {
    color :  red;
    font-size: 1.3em;

}

.loginbutton {
    margin-top: 3.6em;
}

.navbar-toggler {
    margin-top: 3em;
}
