# See https://help.github.com/ignore-files/ for more about ignoring files.
package-lock.json
client/public/dev
client/public/cache
# dependencies
node_modules
# testing
coverage
client/public/sitemap.txt
# production
build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/auth
/auth_config.js
/old
/config*
/docker-compose.yml
