version: '2'
services:
  mongo-express:
    image: mongo-express
    depends_on: ['mongo']
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: steve
      ME_CONFIG_BASICAUTH_PASSWORD: pojpoj72
  mongo:
    image: mongo
    restart: always
    volumes:
      - "/home/stever/projects/mnemolibrary_db:/data/db"
  nemo:
    build: .
    image: syntithenai/nemo
    depends_on: ['mongo']
    restart: always
    volumes:
      - "/home/stever/projects/mnemolibrary:/usr/src/app/"
    environment:
      AWS_ACCESS_KEY_ID:your id
      AWS_SECRET_ACCESS_KEY:your key
      #VIRTUAL_HOST: mnemolibrary.com
      #LETSENCRYPT_HOST: syntithenai.com
      #LETSENCRYPT_EMAIL: stever@syntithenai.com
    ports:
      - "80:3000"
      # oauth only - external use
      - "4000:4000"
      - "5000:5000"

      
