body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 7rem;
  padding-left: 1rem;
}
.aboutpage div {
    padding-bottom: 1em;
}
.question .buttons {
    background-color: lightgrey;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.question .buttons button {  }

.container {
    max-width: none !important;
}

iframe {
    width: 100%;
}
.footer {
    background-color: lightgrey;
}

.question .card-title {
    color: blue;
    background-color: lightblue;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1rem;
    border: 1px solid black;
}
.root {
  text-align: center;
}
.form-group .row input {
    float: right;
}
.navbar {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

